{% load static %} 
{% load widget_tweaks %} 
<!doctype html>
<html lang="ja">
<head>
    {% block extrastyle %}
        <link rel="stylesheet" href="../static/css/friends_profile.css">
        <link rel="stylesheet" href="../static/css/base.css">
    {% endblock extrastyle %}
    <meta charset="utf-8">
</head>
<header>
    <div class="header-icon"><a href=""><img src="{{user.icon.url}}" alt="" ></a></div>
    <div class='user-name'>{{user.username}}</div>
</header>
<body>
    {% block header %}



    {% endblock header %}


    {% block main %}
        <div class="main-wraper">
            <div class="random-image">
                {% if randomcontent %}
                <a class ="" href="{% url 'friends_content' randomcontent.id %}"><img src="../media/{{randomcontent.image}}" alt="サンプル" width="84px" height="84px" class=""></a>
                {% endif %}
            </div>
            <div class="images-container">
                {% if content %}
                {% for content in content %}
                <div class="images-submitted">
                    <a class ="" href="{% url 'friends_content' content.id %}"><img src="../media/{{content.image}}" alt="サンプル" width="84px" height="84px"></a>
                </div>   
                {% endfor %}
                {% endif %}
            </div>
        </div>

    {% endblock main %}
    
</body>
</html>