{% extends 'cookapp/base.html' %}
{% load static %}
<!doctype html>
<html lang="ja">
<head>

    {% block extrastyle %}
    
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css" />
        <link rel="stylesheet" type="text/css" href="{% static 'css/friends_list.css' %}" />
        <title>友達一覧</title>

    {% endblock extrastyle %}
    
</head>

    {% block header %}

        <div class="title-and-arrow">
            <a href="{% url 'home' %}"><img class='arrow-img' src="{% static 'svg/←.svg' %}" /></a>
            <h1 class='title'>友だち</h1>
        </div>
        <div class="number-of-friends"></div>

    {% endblock header %}
    

    {% block main %}
    
    {% if friendslist %}
        {% for f in friendslist %}
            <div class="body-content">
                <div class="image-icon"><img src="{{f.icon.url}}" alt="サンプル" style="border-radius:50px; height:40px; width:40px;"></div>
                <div class="username">{{f.username}}</div>
            </div>
        {% if f.users == user %}     
            {% if f.current_user.icon %}
                <img src="{{f.current_user.icon.url}}" alt="サンプル" style='border-radius:50px;' width="50" height="50">
                <a href="{% url 'friends_profile' f.current_user.id %}" class="">{{f.current_user.username}}</a>
            {% endif %}
            {% else %}  
          {% if f.users.icon %}
                <img src="{{f.users.icon.url}}" alt="サンプル" width="96" height="65">
                <a href="{% url 'friends_profile' f.users.id %}" class="">{{f.users.username}}</a>
            {% endif %}
            {% endif %}
        {% endfor %}
        {% endif %}

    {% endblock main %}
   
</html>