<!doctype html>
<html lang="ja">
<head>
    {{'友達追加'}}
    <meta charset="utf-8">
</head>
<body>

    {% if friends.icon %}
        <p><img src={{friends.icon.url}} alt="サンプル" width="96" height="65"></p>
    {% endif %}

    <p><img src={{friends.icon.url}} alt="サンプル" width="96" height="65"></p>

    <p>{{friends.username}}</p>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <button type="submit">追加する</button>
    </form>
    {{'あなたのID'}}
    <p>{{myuserID}}</p>
</body>
<footer>
    <p><a href="{% url 'friends' %}">{{'フレンズ'}}</a></p>
    <p><a href="{% url 'home' %}">{{'ホーム'}}</a></p>
    <p><a href="{% url 'submission' %}">{{'投稿'}}</a></p>
    <p><a href="{% url 'friends_add_before' %}">{{'友達追加'}}</a></p>
</footer>
</html>