{% extends "cookapp/base.html" %}
{% load static %}
<!doctype html>
<html lang="ja">
<head>
    {% block extrastyle %}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css" />
        <link rel="stylesheet" type="text/css" href="{% static 'css/friends.css' %}" />
        <script type="text/javascript" src="{% static 'javascript/friends.js' %}"></script>
    {% endblock extrastyle %}
</head>
    {% block header %}
        <div class='header-form'>
            <form method = "post" enctype = "multipart/form-data" >
                {% csrf_token %}
                {{ form.word }}
                <button type="submit" class='submit'><img src="{% static '../static/svg/グループ 236.svg' %}" class='submit-icon' /></button>
            </form>
            <a href='friends_list' class='friends-image'><img class='friends-image' src="{% static '../static/svg/グループ 508.svg' %}" /></a>
        </div>
        <div class='tabs'>
            <ul class='tabs'>
                <li id='all'>
                    <img class='friendsall-img1' id='all-img1' src="{% static '../static/svg/アートワーク 38.svg' %}" />
                    <img class='friendsall-img2' id='all-img2' src="{% static '../static/svg/アートワーク 37.svg' %}" />
                    <img id='background1' src="{% static '../static/svg/アートワーク 42.svg' %}" />
                </li>
                <li id='like'>
                    <img class='friendslike-img1' id='like-img1' src="{% static '../static/svg/アートワーク 40.svg' %}" />
                    <img class='friendslike-img2' id='like-img2' src="{% static '../static/svg/アートワーク 31.svg' %}" />
                    <img id='background2' src="{% static '../static/svg/アートワーク 42.svg' %}" />
                </li>
            </ul>
        </div>
    </div>   
    {% endblock header %}

    {% block main %}
    <div id='content-all'> 
        <div class='content-all_inner'>
    {% if friendslist %}
    {% for f in friendslist %}
            {% if place %}
                {% for p in place %} 
                    {% if p.image %}
                    {% if p.submissionconnection == f.users %}
                    {% if p.public_private == 11 %}
                        <a class ="Link" href="{% url 'friends_content' p.id %}"><img class='Link-img' src={{p.image.url}}  class='img'alt="サンプル" style='border-radius:8px;' width="77" height="77"></a>
                    {% endif %} 
                    {% endif %} 
                    {% endif %} 
                {% endfor %}    
            {% endif %}
    
                {% if category %}
                    {% for c in category %} 
                        {% if c.image %}
                        {% if c.submissionconnection == f.users %}
                        {% if c.public_private == 11 %}
                            <a class ="Link" href="{% url 'friends_content' c.id %}"><img src={{c.image.url}} class='img' alt="サンプル" style='border-radius:8px;' width="77" height="77"></a>
                        {% endif %} 
                        {% endif %} 
                        {% endif %}
                    {% endfor %}    
                {% endif %}

        {% if submission_exclude %}
            {% for s in submission_exclude %}   
            {% if f.users == s.submissionconnection %} 
                {% if s.public_private == 11 %}
                        {% if s.image %}
                            <a class ="Link" href="{% url 'friends_content' s.id %}"><img src={{s.image.url}} class='img' alt="サンプル" style='border-radius:8px;' width="77" height="77"></a> 
                        {% endif %}
                {% endif %}      
            {% endif %}   
            {% endfor %}
        {% endif %}
    {% endfor %}

      <!-- 友達の投稿がない時 -->
    {% else %}

        <div class="blank-message-1">友達の投稿が表示されます</div>
        <div class="friends_blank"><img src="{% static 'svg/グループ 607.svg' %}" alt="" ></div>
        <div class="blank-message-2"><img src="{% static 'svg/グループ 131 (8).svg' %}" alt="" ></div>


    {% endif %}

        </div>
    </div>   
      

        <div id='content-like'>
            <div class='content-like_inner'>
                {% if like %}
                {% for l in like %}
                {% if friendslist %}
                {% if place %}
                    {% for p in place %} 
                        {% if p.image %}
                            
                                
                                    {% if l.submission == p %}
                                        {% if l.submission.public_private == 11 %}
                                            <a class ="Link" href="{% url 'friends_content' p.id %}"><img class='Link-img' src={{p.image.url}} class='img' alt="サンプル"style='border-radius:8px;' width="77" height="77"></a>
                                        {% endif %}
                                    {% endif %}
                                
                            
                        {% endif %}
                    {% endfor %}    
                {% endif %}
                {% if category %}
                    {% for c in category %} 
                        {% if c.image %}

                                    {% if l.submission == c %}
                                        {% if l.submission.public_private == 11 %}
                                            <a class ="Link" href="{% url 'friends_content' c.id %}"><img src={{c.image.url}} class='img' alt="サンプル" style='border-radius:8px;' width="77" height="77"></a>
                                        {% endif %}
                                    {% endif %}
                               
                            
                        {% endif %} 
                    {% endfor %}    
                {% endif %}

                {% endif %}
                {% endfor %}
                

        <!-- お気に入りの投稿がない時 -->
                {% if like1 %}
                {% for l in like1 %}
                
                        

                        {% if l.submission.image %}
                        {% if l.submission.public_private == 11 %}
                            <a class ="Link" href="{% url 'friends_content' l.submission.id %}"><img src={{l.submission.image.url}} class='img' alt="サンプル" style='border-radius:8px;' width="77" height="77"></a>
                        {% endif %}
                        {% endif %} 
                        
                {% endfor %} 
                {% endif %} 
                {% else %}


                <div class="like-message-1">お気に入りの投稿が表示されます</div>
                <div class="friends_blank"><img src="{% static 'svg/グループ 607.svg' %}" alt="" ></div>
                <div class="like-message-2"><img src="{% static 'svg/お気に入り登録案内 (1).svg' %}" alt="" ></div>


        
                {% endif %}
             
    
            </div><!--content-like-innerの閉じタグ-->
        </div>   <!--content-likeの閉じタグ-->
             
    {% endblock main %}

