{% extends 'cookapp/base.html' %}
{% load static %} 
{% load widget_tweaks %} 
<!doctype html>
<html lang="ja">
<head>
    <meta charset="utf-8">
</head>
<body>
    {% block header %}
        <div class="header_container">
            <div class="header_icon"><a href=""><img src="" alt=""></a></div>
            <div class="header_name">{{friend}}<div>
        </div>
    {% endblock header %}
    <main>
        <div class="DivLink">
            {% if friend.icon %}
            <img src={{friend.icon.url}} alt="サンプル" width="96" height="65">
            {% endif %}
            {{friend.username}}
            {% for content in content %}
            <a class ="Link" href="{% url 'friends_content' content.id %}"><img src={{content.image.url}} alt="サンプル" width="96" height="65"></a>
            {% endfor %}
        </div>
    </main>
    {% block footer %}
        <div class="footer_container">
            <div class="footer_button"><a href="{% url 'home' %}"><img src="{% static '../static/svg/home.svg' %}" alt=""></a></div>
            <div class="footer_button"><a href="{% url 'friends' %}"><img src="{% static '../static/svg/friends.svg' %}" alt=""></a></div>
            <div class="footer_button"><a href="{% url 'submission' %}"><img src="{% static '../static/svg/submission.svg' %}" alt=""></a></div>
            <div class="footer_button"><a href="{% url 'friends_add_before' %}"><img src="{% static '../static/svg/friend_add_before.svg' %}" alt=""></a></div>
        </div>
    {% endblock footer %}

</body>
</html>