{% extends 'cookapp/base.html' %}
{% load static %}
<!doctype html>
<html lang="ja">
<head>
    {% block extrastyle %}
      
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css" />
        <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}" />

    {% endblock extrastyle %}
</head>
<body>
{% block header %}

<header>
    <div class="user">
        <div class='user-icon'>
            {% if user.icon %}
            <img src={{user.icon.url}} alt="サンプル" style='border-radius:50px;' width="40" height="40">
            {% endif %}
        </div>
        <div class='user-name'>{{user.username}}</div>
    </div>
        <div class="setting">
            <a href="{% url 'setting' %}" class="logo-img"><img src="{% static 'svg/設定ボタン.svg' %}" /></a>
        </div>
    </header>

{% endblock header %}

{% block main %}

    <div class="header-sub"></div>
        <div class="DivLink">

            {% if randomcontent %}

                <a class ="Link" href="{% url 'my_content' randomcontent.id %}"><img src={{randomcontent.image.url}} alt="画像" width="340" height="340" class="linkimage1"></a>

                {% for content in content %}
                    <a class ="Link" href="{% url 'my_content' content.id %}"><img src={{content.image.url}} alt="サンプル" width="80" height="80" class="linkimage2"></a>
                {% endfor %}

            {% else %}

                <div class="blank-image" style="border-radius: 30px;"><img src="{% static 'svg/投稿がないときのイメージ.svg' %}" alt="" width="348px" height="348px" ></div>

            {% endif %}
            
        </div>

{% endblock main %}

</body>
</html>