{% load static %}
{% load widget_tweaks %}
<!doctype html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/my_content.css' %}" />
    <script type="text/javascript" src="{% static 'js/my_content.js' %}"></script>
    <title>my_contents</title>
</head>
<body>
    <header>
            <div class='user'>
                <div class="user-icon">
                    {% if user.icon %}
                    <img src={{user.icon.url}} alt="サンプル" style=border-radius:50px; width="40" height="40">
                    {% endif %}
                </div>
                <div class="user-name">{{user.username}}</div>
            </div>
        <div class="options">


            <p><a href="{% url 'my_content_update' content.id %}"><img id="image-display_origin" src="{% static 'media/グループ 325.svg' %}"/></a></p>

            <p><a href="{% url 'my_content_delete' content.id %}"><img id="image-display_origin" src="{% static 'media/グループ 319.svg' %}"/></a></p>
        </div>
    </header>
    <div class=image-image>
        <img src={{content.image.url}} alt="サンプル" width="350" height="350" class="image">
    </div>
    <div class="image-details">
        <div class="image-detail_1">
            <div class="image_date">{{content.date}}</div>
            <div class="image_place"><img id="image-display_origin" src="{% static 'media/グループ 271.svg' %}"/>{{content.place}}</div>
            <div class="image_category">{{content.category}}</div>
        </div>
        <div class="image-detail_2">
            {{content.comment}}
        </div>
    </div>
    <div class="form-unclicked" id='form-unclicked'>
        <table class="form-unclicked_table">
            <th>
                <td id='addIcon'><img class='form-image1' src="{% static 'media/グループ 352.svg' %}" /></td>
                <td><p class='form-document'>コメントを入力</p></td>
            </th>
    </table>
    </div>

    
    {% for threadlist in threadlist %}
    {{threadlist.threadconnection_user.username}}
    {{threadlist.thread}}
    {% endfor %}

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}

    </div>
    <form method="post" enctype="multipart/form-data" class="form" id='form'>
        <img class='form-image2' id='deleteIcon' src="{% static 'media/グループ 352.svg' %}" />
        {% csrf_token %}
        <div class="form-content">
            <div class="form-table">{{ form }}</div>
            <div class="form-button"><input type="submit" class="button" name="thread1"><img class='form-image' id='deleteIcon' src="{% static 'media/パス 335.svg' %}" /></button></div>
        </div>
    </form>
    <div>
        {{content.talk}}
        {% for thread in thread %}
            {{thread.threadconnection_user.username}}
            {{thread.thread}}
            <form method="post">
                {{form1}}
                <button type="submit" name="th" value={{forloop.counter0}}>送信</button>
                {% csrf_token %}
            </form>
            {% for threadlist in threadlist %}
                {% if threadlist.threadlistconnection == thread %}
                        {{threadlist.threadlist}}
                {% endif %}
            {% endfor %}
        {% endfor %}
    </div>
</body>
<footer>
    <p><a href="{% url 'friends' %}">{{'フレンズ'}}</a></p>
    <p><a href="{% url 'home' %}">{{'ホーム'}}</a></p>
    <p><a href="{% url 'submission' %}">{{'投稿'}}</a></p>
    <p><a href="{% url 'friends_add_before' %}">{{'友達追加'}}</a></p>
</footer>
</html>