{% extends 'cookapp/base.html' %}
{% load static %}
{% load widget_tweaks %}
<!doctype html>
{% block extrastyle %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/my_content.css' %}" />
    <title>my_contents</title>
{% endblock extrastyle %}
<body>
{% block header %}
        <div class='user'>
            <a href="{% url 'home' %}" class='user' style="text-decoration:none;" >
                <div class="user-icon">
                    {% if user.icon %}
                    <img src={{user.icon.url}} alt="サンプル" style=border-radius:50px; width="40" height="40">
                    {% endif %}
                </div>
                <div class="user-name">{{user.username}}</div>
            </a>
        </div>
        <div class="options">
            <p><a href="{% url 'my_content_delete' content.id %}"><img id="image-display_origin" src="{% static 'svg/グループ 319.svg' %}"/></a></p>
            <p><a href="{% url 'my_content_update' content.id %}"><img id="image-display_origin" src="{% static 'svg/グループ 325.svg' %}"/></a></p>
        </div>
{% endblock header %}
{% block main %}
    <div class=image-image>
        <img src={{content.image.url}} alt="サンプル" width="350" height="350" class="image">
    </div>
    <div class="image-details">
        <div class="image-detail_1">
            <div class="image_date">{{content.date}}</div>
            <div class="image_place"><img id="image-display_origin3" src="{% static 'svg/グループ 271.svg' %}"/>{{content.place}}</div>
            <div class="image_category">
                <p class='image_category_doc'>{{content.category}}</p>
            </div>
        </div>
        <div class="image-detail_2">
            {{content.comment}}
        </div>
    </div>
    <div class="form-unclicked" id='form-unclicked'>
        <table class="form-unclicked_table">
              <th>
                  <button id='action' class='action'><img class='form-image1' id='cross' src="{% static 'svg/グループ 352.svg' %}" /></button>
                  <td><p class='form-document' id='form-document'>コメントを入力</p></td>
              </th>
        </table>
    </div>
    {% for threadlist in threadlist %}
    {{threadlist.threadconnection_user.username}}
    {{threadlist.thread}}
    {% endfor %}
    <form method="post" enctype="multipart/form-data" class="form" id='form'>
        {% csrf_token %}
        <div class="form-content">
            <div class="form-table">{{ form.thread }}</div>
            <div class="form-button"><button type="submit" class="button" name="thread1"><img class='form-image' id='deleteIcon' src="{% static 'svg/パス 335.svg' %}" /></button></div>
        </div>
    </form>
    <div class='thread-whole'>
        {{content.talk}}
        {% for thread in thread %}
        <div class="threadform">
            <div class='thread1-display'>
                {% if thread.threadconnection_user.icon %}
                <img class='thread1-img' src='{{ thread.threadconnection_user.icon.url }}' style='border-radius:50px;' height='30px' width='30px'/>
                {% endif %}
                <p class='thread1-doc'>{{ thread.threadconnection_user.username }}</p>
                <p class='thread1-thread'>{{thread.thread}}</p>
            </div>
            <button class='reply-trigger' id='unclicked'>
                <p id='doc' class='unclicked-doc'>返信する</p>
                <img class='form-image3' id='img' src="{% static 'svg/グループ 352.svg' %}" />
            </button>
            <form method="post" class="replyform" id='clicked'>
                <div class='replyform-content'>
                    <button class='replybutton' type="submit" name="th" value={{forloop.counter0}}><img class='form-image' id='delete\Icon' src="{% static 'svg/パス 335.svg' %}" /></button>
                    <div class='replyform-thread'>{{form1.threadlist}}</div>
                </div>
                {% csrf_token %}
            </form>
            <div class="thread2">
                {% for threadlist in threadlist %}
                {% if threadlist.threadlistconnection_thread == thread %}
                <div class="thread2_content">
                    {% if threadlist.threadlistconnection_user.icon %}
                    <img class='thread2-img' src='{{threadlist.threadlistconnection_user.icon.url}}' style='border-radius:50px;' height='30px' width='30px'/>
                    {% endif %}
                    <div class='thread2-doc'>{{threadlist.threadlistconnection_user.username}}</div>
                    <div class='thread2-thread'>{{threadlist.threadlist}}</div>
                </div>
                {% endif %}
                {% endfor %}
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock main %}
{% block script %}
    <script type="text/javascript" src="{% static 'javascript/my_content.js' %}"></script>
{% endblock script %}
</html>