{% extends 'cookapp/base.html' %}
{% load static %}
{% load widget_tweaks %}
<!doctype html>
<html lang="ja">
<body>
    <header>
        <div class=""><a href="{% url 'home' %}"><img src="{% static 'png/グループ 481.png' %}" alt=""></a></div>
        <div class="">設定</div>
    </header>
    {% block main %}
    <div class = container>
        <div class="">
            <div>アカウント情報</div>    
            <div><a href="{% url 'user_update' user.id %}"><img src="{% url '' %}" alt=""></a></div>
        </div>
        <div>名前</div>
        <div>{{user.username}}</div>
        <div>メールアドレス</div>
        <div>{{user.email}}</div>
        <div><a href="{% url 'password_change' %}">パスワードを変更する</a></div>
    </div>
    <div class = url>
        <p><a href="{% url 'logout' %}">ログアウト</a></p>
        <p><a href="{% url 'user_delete' %}">アカウント削除</a></p>
    </div>
    {% endblock main %}
</body>
</html>