{% extends 'cookapp/base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>

    {% block extrastyle %}
    
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css" />
        <link rel="stylesheet" type="text/css" href="{% static 'css/setting_complete.css' %}" />
        <title>設定更新完了</title>

    {% endblock extrastyle %}

</head>
<body>

    {% block header %}

        <div class='top'>
            <a href="{% url 'setting' %}"><img src="{% static 'svg/←(黒).svg' %}" /></a>
        </div>

    {% endblock header %}


    {% block main %}
        
    <div class="main-container">
        <div class='main'>
            <img src="{% static 'svg/グループ 26.svg' %}" class='complete_image' />
            <p class='complete_doc'>更新しました</p>
        </div>
    </div>
        
    {% endblock main %}

</body>
</html>