{% load static %} 
{% load widget_tweaks %} 
<!doctype html>
<html lang="ja">
    <link rel="stylesheet" href="static/css/signup_complete.css">
<head>
    <meta charset="utf-8">
</head>
<body>
    <header >
    </header>
    <main>
        <div class="main-wrapper">
            <div class="complete-image container">
                <img src="{% static 'svg/グループ 26.svg' %}" alt="" width="126px" height="126px">
            </div>
            <div class="complete-message container">
                <p class="">登録が完了しました</p>
            </div>
            <div class="container button"><a href ="{% url 'home' %}"><button type = "submit" >はじめる</button></a></div>  
        </div>
    </main>
    <footer class="">
        <div class="footer-image"><img src="{% static 'svg/背景（カトラリー）.svg' %}" ></div>
    </footer>
</body>
</html>