{% load static %}
<!doctype html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/user_update.css' %}" />
    <title>更新ページ</title>
</head>
<body>
    <div class="head">
        <div class="setting-reverse">
            <div><img src="{% static 'media/←.svg' %}" /></div>
            <div><p class="setting-title" >設定</p></div>
        </div>
        <button type = "submit" class="button-content">更新</button>
    </div>
    <div class="form-title">アカウント情報の変更</div>
    <form method = "post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class='image-field'>
      <div class='image-field-content'> 
          <div class='imageform'>{{form.icon}}</div>      
          <img src={{user.icon.url}} alt="サンプル" style='border-radius:50px;' width="100" height="100">
      </div>
        <p class='image-doc'>写真を変更する</p>
    </div>
    <div class="username">
        <p class="username-doc">名前（20文字まで）</p>
        {{form.username}}
    </div>
    <div class="email">
        <p class="email-doc">メールアドレス</p>
        {{form.email}}
    </div>
    </form>
</body>
    <footer>
        <div class="footer-container">
            <div class="footer-button"><a href="{% url 'home' %}"><img src="{% static '../static/svg/home.svg' %}" alt=""></a></div>
            <div class="footer-button"><a href="{% url 'friends' %}"><img src="{% static '../static/svg/friends.svg' %}" alt=""></a></div>
            <div class="footer-button"><a href="{% url 'submission' %}"><img src="{% static '../static/svg/submission.svg' %}" alt=""></a></div>
            <div class="footer-button"><a href="{% url 'friends_add_before' %}"><img src="{% static '../static/svg/friend_add_before.svg' %}" alt=""></a></div>
        </div>
    </footer>
</html>