
{% extends 'cookapp/base.html' %}
{% load static %}
{% load widget_tweaks %}

<!doctype html>
<html lang="ja">
<head>
    <meta charset="utf-8">

    {% block extrastyle %}
        <link rel="stylesheet" href="../static/css/user_update.css">
        <link rel="stylesheet" href="../static/css/base.css">

    {% endblock extrastyle %}
</head>
<body>
    {% block header %}
        
        <div class="header-container">
            <div class=""><a href="{% url 'setting' %}"><img src="{% static 'svg/←(黒).svg' %}" alt=""></a></div>
            <div class="">設定</div>
        </div>

    {% endblock header %}

    {% block main %}
        
        <div class="">アカウント情報の変更</div>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="">
                <div class="icon"><img src="{{form.icon.value.url}}" id="image_preview"></div>
                <div class><input type="file" name="{{ form.icon.html_name }}" accept="image/*" id="{{ form.icon.id_for_label }}" style="display: none;"></div>
                <div class="image-change"><label for="{{ form.icon.id_for_label }}">写真を変更する</label></div> <!-- ここがinputになる -->
            </div>
            <div class="fields-wrapper">
                <div class="label">名前（20文字まで）</div>
                <div class="field">{{form.username}}</div>
            </div>
            <div class="fields-wrapper">
                <div class="label">メールアドレス</div>
                <div class="field">{{form.email}}</div>
            </div>
            <div class="update-button"><button type="submit">更新</button></div>
        </form>
        
    {% endblock main %}

    {% block script %}
        <script src="{% static 'javascript/user_update.js' %}"></script>
    {% endblock script %}

</body>
</html>