{% extends 'cookapp/base.html' %}
{% load static %}
{% load widget_tweaks %}
<!doctype html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    {% block extrastyle %}
    <!-- オーバーレイだけどこのページで見た目を完成させてからやる -->
        <link rel="stylesheet" href="../static/css/setting.css">

    {% endblock extrastyle %}
</head>
<body>

   {% block main %}

        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="buttons-wrapper">
                <p class="message"><a href="{% url 'setting' %}">アカウントを削除しますか？</a></p>
                <div class="button-flex">
                    <div class="button-cancel" id=""><a href="{% url 'setting' %}">キャンセル</a></div>
                    <div class="button-delete"><button type="submit" >削除</div>
                </div>
            </div>
        </form>
   
   {% endblock main %}
</body>
</html>