@font-face{
    font-family:'源泉丸ゴシック';
    src: url(../gensen-font/ttc/GenSenRounded-M.ttc) format('woff');
}
body{
    font-family:'源泉丸ゴシック';
    width:375px;
    height:812px;
}
.title{
    width:80%;
    margin:auto;
    margin-top:20px;
    font-size:26px;
    font-weight:bold;
    margin-bottom:20px;
}
.main-container{
    height:200px;
}

.h1{
    margin-top:20px;
    font-size:26px;
    font-weight:bold;
    margin-bottom:60px;
}
.submit{
    margin-top:10px;
}
.form_field{
    background-color:#ffffff;
    filter:drop-shadow(0px 3px 10px #00000029);
    height: 70%;
    width:300px;
    border-radius:20px;
    display:flex;
    justify-content:center;
    align-items:center;
    margin:auto;
    margin-bottom:20px;
}
.userID_content{
    font-size:14px;
    color:#757575;
}
form{
    width:90%;
    display:flex;
}
.table_title{
    color:#ea730c;
    margin-bottom:20px;
    font-size:16px;
}

button{
    background-color:#ffffff;
    border:none;
}
h2{
    padding-top:4px;
}
.img{
    padding-top:25px;
    margin-left:-5px;
}
#id_userID{
    width:250px;
    height:20px;
    border-top:none;
    border-left:none;
    border-right:none;
    border-bottom:0.2px solid #929292;
}
.searchfield{
    width:90%;
}
.myID{
    border-radius:20px;
    margin-top: 40px;
    background-color:#ffffff;
    filter:drop-shadow(0px 3px 10px #00000029);
    margin-bottom:20px;
    height: 70%;
    width:300px;
    display:flex;
    justify-content:center;
    align-items:center;
    margin:auto;
    margin-bottom:20px;
}
.myID_title{
    color:#ea730c;
    margin-bottom:20px;
}
.myID_contents{
    width:90%;
}
.myID_doc{
    padding-top:10px;
    font-size:12px;
    color:#757575;
}
footer{
    width:90%;
    margin:auto;
    margin-top:340px;
}