

/* ------------------------------ ここから記入 -------------------------------------------*/
html {
    width: 376px;
    height: 812px;
    margin: 0px;
}

/* font指定 */
@font-face {
    font-family: '源泉丸ゴシック';
    src: url(../gensen-font/ttc/GenSenRounded-M.opf) format('opentype');
}

body {
    width: 376px;
    height: 812px;
    position: relative;
    margin: 0;
    font-family: 源泉丸ゴシック, "游ゴシック", "HGSｺﾞｼｯｸM", "HGPｺﾞｼｯｸM", "HG正楷書体PRO", "ヒラギノ丸ゴ ProN", sans-serif;
    color: #212121;
}

.header-container {
    width: 93.5%;
    margin: 0 auto;
    padding-top: 34px;
    font-size: 26px;
    display: flex;
    vertical-align: top;
    align-items: center;
}

.update-button {
  position: absolute;
  top: -100px; right: 10px;
  margin-left: auto;
  font-size: 14px;
  background-color: #EA730C;
  color: #fff;
  font-weight: 100;
  border-radius: 14px;
  padding: 7px 15px;
  filter:drop-shadow(0px 2px 6px #DECEB7);
}

main {
    position: relative;
    top: 69px !important;
}

.main-container {
    width: 325px;
    margin: 0 auto;
}

.content-image {
  text-align: center;
}

.content-image img {
  width: 325px;
  height: 325px;
  border-radius: 20px;
  object-fit:cover ;
  filter:drop-shadow(0px 3px 10px #00000029);
}

.public-private {
  margin-top: 30px;
  
} 

.fields {
  margin-top: 30px;
  background-color: #F8F8F8;
  border-radius: 10px;
  padding: 7px;
}

.category {
  width: 30%;
} 

.date, .place {
  width: 60%;
  position: relative;
}

#id_date_year {
  width: 60px;
  background-color: #f8f8f8;
  position: relative;
}


#id_date_month {
  width: 60px;
  background-color: #f8f8f8;
}

#id_date_day {
  width: 60px;
  background-color: #f8f8f8;
}

select {
  text-rendering: auto;
  color: -internal-light-dark(black, white);
  letter-spacing: normal;
  word-spacing: normal;
  line-height: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: start;
  appearance: auto;
  box-sizing: border-box;
  align-items: center;
  white-space: pre;
  -webkit-rtl-ordering: logical;
  background-color: -internal-light-dark(rgb(255, 255, 255), rgb(59, 59, 59));
  cursor: default;
  margin: 0em;

}