@font-face{
    font-family:'源泉丸ゴシック';
    src: url(../gensen-font/ttc/GenSenRounded-M.ttc) format('woff');
}
html{
    overflow:hidden;
    position:relative;
}
body{
    background-color:#ffffff;
    font-family:'源泉丸ゴシック';
    width:375px;
    height:812px;
    position:absolute;
    overflow:scroll;
}
.header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-top:20px;
    margin-bottom:30px;
}
.header h1{
    font-size:26px;
    font-weight:bold;
}
.add_button{
    background-color:#ea730c;
    width:50px;
    height:30px;
    border-radius:20px;
    display:flex;
    justify-content:center;
    align-items:center;
    filter:drop-shadow(0px 2px 6px #DECEB7);
}
.add-doc{
    padding-left:8px;
}
.add_button button{
    background-color:#ea730c;
    width:50px;
    height:30px;
    border-radius:20px;
    border:2px solid #ea730c;
    color:#ffffff;
    font-size:14px;
}
.forms{
    width:300px;
    margin:auto;
}
.image-field{
    margin-top:100px;
    height:300px;
    width:300px;
    background-color: #f8f8f8;
    border-radius:30px;
    filter:drop-shadow(0px 3px 6px #00000029);
    margin-bottom:20px;
    display:flex;
    justify-content:center;
    align-items:center;
    position: relative;
    border:0px none;
}
.image_document{
    position: absolute;
    z-index:1001;
    text-align:center;
}
.image-display{
    position:absolute;
    border-radius:30px;
    width:300px;
    height:300px;
    border: 0px none;
}
#image-display_origin{
    margin-bottom:6px;
}
#image-display_update{
    position:absolute;
    display:block;
    width:300px;
    height:300px;
    z-index:1001;
    top:0;
    left:0;
    border-radius:30px;
    border-style: none;
    z-index:1001;
}
#id_image{
    position: absolute;
    display:block;
    width: 300px;
    height: 300px;
    opacity: 0;
    border:0px none;
    z-index:1002
}
#id_public_private{
    margin-bottom:24px;
    margin-top:5px;
    background-color:#f8f8f8;
    border:2px solid #f8f8f8;
    border-radius:5px;
}
#id_date_year{
    width:70px;
    background-color:#f8f8f8;
    border:2px solid #f8f8f8;
    margin-top:5px;
    margin-bottom:24px;
    border-radius:5px;
}
#id_date_month{
    width:50px;
    background-color:#f8f8f8;
    border:2px solid #f8f8f8;
    margin-bottom:24px;
    margin-top:5px;
    border-radius:5px;
}
#id_date_day{
    width:50px;
    background-color:#f8f8f8;
    border:2px solid #f8f8f8;
    margin-bottom:24px;
    margin-top:5px;
    border-radius:5px;
}
#id_category{
    margin-bottom:24px;
    margin-top:5px;
    background-color:#f8f8f8;
    border:2px solid #f8f8f8;
    border-radius:5px;
}
#id_place{
    width:300px;
    background-color: #f8f8f8;
    border: 2px solid #f8f8f8;
    margin-bottom:10px;
    margin-top:5px;
    border-radius:5px;
    padding:5px;
}
.place_doc{
    font-size:12px;
    color:#757575;
    margin-bottom:20px;
}
#id_comment{
    width:300px;
    background-color:#f8f8f8;
    border: 2px solid #f8f8f8;
    margin-bottom:10px;
    margin-top:5px;
    border-radius:5px;
    padding:5px;
    margin-bottom:100px;
}
footer{
    width:90%;
    margin:auto;
    margin-top:100px;
}