@font-face{
    font-family:'源泉丸ゴシック';
    src: url(../gensen-font/ttc/GenSenRounded-M.ttc) format('woff');
}

body{
    font-family:'源泉丸ゴシック',"游ゴシック", "HGSｺﾞｼｯｸM", "HGPｺﾞｼｯｸM", "HG正楷書体PRO", "ヒラギノ丸ゴ ProN", sans-serif;
    width:100%;
    height:812px;
    overflow:hidden;
    position:relative;
    overflow:scroll;
}
.elements{
    height:812px;
    width:100%;
    background-color:#ea730c;
    position:absolute;
    overflow:hidden;
}
.logo{
    height:300px;
    width:300px;
    margin:auto;
}
.logo-img{
    text-align:center;
    width:300px;
    height:300px;
    margin-top:200px;
}
.buttons{
    margin:auto;
    width:200px;
    height:100px;
    margin-top:200px;
}
.register{
    position:relative;
    margin:auto;
    background-color: #ffffff;
    width:200px;
    margin-bottom:20px;
    height:10%;
    border-radius:80px;
    display:table;
    box-shadow:0px 3px 3px #00000029;
}
.register-link{
    position:absolute;
    display:block;
    width: 100%;
    height: 100%;
}
.login{
    position:relative;
    margin:auto;
    background-color:#ffffff;
    width:200px;
    height:10%;
    border-radius:80px;
    display:table;
    box-shadow:0px 3px 3px #00000029;
}
.login-link{
    position:absolute;
    display:block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.register_doc{
    display:table-cell;
    vertical-align:middle;
    text-align:center;
    color:#ea730c;
    font-weight:bold;
    font-size:15px;
    padding:10px;
}
.login_doc{
    display:table-cell;
    vertical-align:middle;
    color:#ea730c;
    text-align:center;
    font-weight:bold;
    font-size:15px;
    padding:10px;
}