@font-face{
    font-family:'源泉丸ゴシック';
    src: url(../gensen-font/ttc/GenSenRounded-M.ttc) format('woff');
}
header{
    font-family:'源泉丸ゴシック';
    width:375px;
    height:80px;
}
body{
    font-family:'源泉丸ゴシック';
    width:375px;
    height:812px;
    color:#212121;
}
footer{
    width:90%;
    margin:auto;
    margin-top:340px;
}
.footer-container{
    display:flex;
    border-radius:50px;
    border-radius:20px;
    background-color:#ffffff;
    box-shadow: 0px 10px 6px #00000029;
    border:1px groove #00000029;
}