@font-face{
    font-family:'源泉丸ゴシック';
    src:url(../gensen-font/ttc/GenSenRounded-M.ttc) format('woff');
}

body{
    font-family:源泉丸ゴシック;
    background-color:#ffffff;
    font-family:'GenSenRounded TW B';
}
.header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-top:20px;
    margin-bottom:30px;
}
.header h1{
    font-size:30px;
    font-weight:bold;
}
.add_button{
    background-color:#ea730c;
    width:50px;
    height:30px;
    border-radius:20px;
    display:flex;
    justify-content:center;
    align-items:center;
    box-shadow:0px 3px 3px #a8a7a7;
}
.add_button button{
    background-color:#ea730c;
    width:50px;
    height:30px;
    border-radius:20px;
    border:2px solid #ea730c;
    color:#ffffff;
    font-weight:bold;
}
.forms{
    width:600px;
    margin:auto;
}
.image-field{
    height:600px;
    width:600px;
    background-color: #f8f8f8;
    border-radius:30px;
    box-shadow:0px 4px 5px #a8a7a7;
    margin-bottom:20px;
    display:flex;
    justify-content:center;
    align-items:center;
    position: relative;
}
.image_document{
    position: absolute;
    z-index:1001;
}
.image-display{
    position:absolute;
    width:600px;
    height:600px;
}

#id_image{
    position: absolute;
    display:block;
    width: 600px;
    height: 600px;
    opacity: 0;
    z-index: 1000;
}
#id_public_private{
    margin-bottom:10px;
    background-color:#f8f8f8;
    border:2px solid #f8f8f8;
    border-radius:5px;
    box-shadow:0px 3px 3px #a8a7a7;
}
#id_date{
    width:100px;
    background-color:#f8f8f8;
    border:2px solid #f8f8f8;
    box-shadow:0px 3px 3px #a8a7a7;
    margin-bottom:10px;
    border-radius:5px;
}
#id_category{
    margin-bottom:10px;
    background-color:#f8f8f8;
    border:2px solid #f8f8f8;
    border-radius:5px;
    box-shadow:0px 3px 3px #a8a7a7;
}
#id_place{
    width:100px;
    background-color: #f8f8f8;
    border: 2px solid #f8f8f8;
    box-shadow:0px 3px 3px #a8a7a7;
    margin-bottom:10px;
    border-radius:5px;
}
#id_comment{
    width:600px;
    background-color:#f8f8f8;
    border: 2px solid #f8f8f8;
    box-shadow:0px 3px 3px #a8a7a7;
    margin-bottom:10px;
    border-radius:20px;
}